---
import { getCollection } from "astro:content";
import CategoryList from "../components/CategoryList.astro";
import FeaturedPost from "../components/FeaturedPost.astro";
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import PostList from "../components/PostList.astro";
import Layout from "../layouts/Layout.astro";

const allPosts = await getCollection("posts");
const featuredPosts = allPosts.filter((post) => post.data.featured);
const posts = allPosts.filter((post) => !post.data.featured).slice(0, 4);

const allCategories = posts.flatMap((post) => post.data.categories);
const categories = [...new Set(allCategories)];
---

<Layout title="Welcome to Astro.">
  <Main>
    <H1 text="Rhythm Nation Blog" />
    <p class="mb-24 text-2xl text-zinc-900 max-sm:mb-14">
      Join the community and learn from Music Producers and Enthusiasts
    </p>
    {featuredPosts.map((post) => <FeaturedPost post={post} />)}
    <hr class="mb-16 w-full border border-teal-900 max-sm:mb-10" />

    <CategoryList categories={categories} title="Recent Posts" />

    <div class="mb-32">
      <PostList posts={posts} />
    </div>
    <div class="mb-60 flex justify-end max-sm:mb-36">
      <a
        href="/blog"
        class="rounded-xl bg-teal-900 px-6 py-3 text-xl text-white">Read More</a
      >
    </div>
  </Main>
</Layout>
